<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>UCR Chat</title>

        <meta name="viewport" content="width=device-width, initial-scale=1">

    </head>
    <body>

        <!--This is the nav--->
        <%- include('partials/_nav.ejs')%>

        <!--this is the body--->
        <%- include('partials/_index.ejs')%>

        <!--this is the footer--->
        <%- include('partials/_footer.ejs')%>

        <!--these are our scripts--->
        <%- include('partials/_jquery.ejs')%>
        <%- include('partials/_material.ejs')%>
        <%- include('partials/_animatecss.ejs')%>

        <!--these are our scripts--->
        <script src="js/_nav.js" charset="utf-8"></script>
        <script src="js/_init.js" charset="utf-8"></script>
        <% if (!user) { %>
            <script src="js/_modal_logic.js" charset="utf-8"></script>
        <% } %>

    </body>
</html>
